{% extends "base.html" %}
{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/RouteBoxer.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/points.js"></script>
</script>
{% endblock %}

{% block content %}
<div id="map_canvas"></div>
<div id="controls">
  <form action="POST" target="#" >
    {% csrf_token %}
    Box within at least <input type="text" id="distance" value="10" size="2" />km
of the route<br />
    from <input type="text" id="from" value="Oberlin, OH" /> to
    <input type="text" id="to" value="Cleveland, OH" />
    <input type="submit" value="submit" id="submit" />
    <input type="button" value="clear" id="clear" />
  </form>
</div>
<div id="status">
</div>
{% endblock %}
